package ${package_name}.service;

import com.xin.note.common.MultiLanguageService;
import ${package_name}.entity.${model};

/**
* ${model}Service接口,自动生成
* Created by xin on ${ctime}.
*/
public interface ${model}Service extends MultiLanguageService<${model}> {

}